.footer-wrap {
  width: 100%;
  background-color: lightblue;
}

.footer {
  width: 80%;
  margin: auto;
  margin-top: 100px;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 35px;
}

.footer-icons {
  display: flex;
  column-gap: 10px;
  font-size: 35px;
}

.footer p {
  font-size: larger;
}

.FaInstagram {
  color: #EE2A7B;
  cursor: pointer;
}

.BsTwitterX {
  color: #14171A;
  cursor: pointer;
}

.FaFacebook {
  color: #1877F2;
  cursor: pointer;
}

.FaYoutube {
  color: #FF0000;
  cursor: pointer;
}



@media (max-width: 434px) {
  .footer-icons {
    font-size: 20px;
  }

  .footer p {
    font-size: 15px;
  }
}