.header {
    width: 100%;
    background-color: lightblue;
}

.header-wrap {
    width: 80%;
    height: 200px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    display: flex;
    align-items: center;
}

.logo img {
    width: 250px;
    height: 150px;
}

.header-search {
    display: flex;
    align-items: center;
    column-gap: 25px;
}

.header-search input {
    padding: 5px 12px;
    border: none;
    outline: none;
    border-bottom: 1px solid black;
    font-size: large;
    background-color: transparent;
}

.FaBasketShopping {
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 157, 255);
}

.FaSearch {
    font-size: 30px;
    cursor: pointer;
    color: rgb(0, 157, 255);
}


@media (max-width: 1024px) {
    .header {
        width: 100%;
    }

    .header-wrap {
        width: 90%;
        height: 200px;
    }

    .logo img {
        width: 100px;
        height: 80px;
    }

    .logo h1 {
        font-size: 20px;
    }

    .header-search input {
        padding: 2px 8px;
        width: 120px;
    }

    .FaBasketShopping {
        font-size: 20px;
    }

    .FaSearch {
        font-size: 20px;
    }
}
@media (max-width: 434px){
    .header-wrap {
        width: 90%;
        height: 120px;
    }
    .logo img {
        width: 100px;
        height: 80px;
    }

    .logo h1 {
        font-size: 14px;
    }

    .header-search{
        column-gap: 2px;
    }
    .header-search input {
        width: 80px;
        font-size: 15px;
    }

    .FaBasketShopping {
        font-size: 20px;
    }

    .FaSearch {
        font-size: 20px;
    }
}