.product-details-wrap {
    width: 100%;
}

.product-details {
    width: 80%;
    margin: auto;
    margin-top: 100px;
    display: flex;
    justify-content: center;
    column-gap: 150px;
}

.product-details img {
    width: 352px;
}

.product-details-content {
    width: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    row-gap: 20px;
}

.product-details-content p {
    line-height: 20px;
}

.product-details-content button {
    width: 120px;
    padding: 8px 12px;
    cursor: pointer;
    background-color: rgb(126, 51, 51);
    color: white;
    border: none;
    transition: all 0.5s;
}

.product-details-content button:hover {
    background-color: rgb(221, 100, 100);
}

.product-details-content h3 {
    color: rgb(126, 51, 51);
    font-size: 35px;
}

.product-details-count {
    display: flex;
    align-items: center;
    column-gap: 10px;
    font-size: 35px;
}


@media (max-width: 1024px) {
    .product-details-wrap{
        height: 816px;
    }
    .product-details-content h1{
        font-size: 25px;
    }
}
@media (max-width: 820px) {
    .product-details-wrap{
        height: 495px;
    }
    .product-details img{
        width: 250px;
    }
}

@media (max-width: 536px) {
    .product-details{
        column-gap: 30px;
    }
    .product-details img{
        width: 150px;
    }
    .product-details-content h1{
        font-size: 15px;
    }
    .product-details-content p{
        font-size: 13px;
        line-height: 13px;
    }
    .product-details-content h3{
        font-size: 25px;
    }
}
@media (max-width: 375px) {
    .product-details-wrap{
        height: 416px;
    }
    .product-details-content p{
        font-size: 10px;
        line-height: 11px;
    }
}